<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Comment on {{ VIEW_CONFIG["NAME"] }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=VT323">
</head>

<body style="background-color: #111111;border: 0;resize: none;outline: none;">
    <div class="container" style="padding-top: 1.5em;">
        {% block content %}{% endblock %}
        <div>
            <p class="text-center" style="margin-top: 2em;font-family: 'VT323';color: #aaaaaa;">Powered By&nbsp;<a href="#" style="color: #aaaaaa;text-decoration: underline;">CommentOnX</a></p>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</body>

</html>