{% extends 'base.html' %}

{% block content %}
    <h1>{{ VIEW_CONFIG["NAME"] }}&trade; Self-Improvement Program</h1>
    <p>Thank you for your purchase of a {{ VIEW_CONFIG["NAME"] }}&trade;. In order to optimise customer satisfaction, we have created an anonymous feedback form for comments about your {{ VIEW_CONFIG["NAME"] }}&trade;. You can comment on the actions and personality of your {{ VIEW_CONFIG["NAME"] }}&trade;. Critical but constructive feedback
        is encouraged.</p>
    <form>
        <div class="form-group"><label>Please add your comments below</label>
            <textarea class="form-control" rows="5" cols="0"></textarea>
        </div>
        <p>Please re-read your comments before submitting, you are not able to retract, change or add more detail later.</p>
        <button class="btn btn-dark" type="button">Submit Feedback</button>
    </form>
{% endblock %}
