[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-scss = "*"
requests = "*"
sparkpost = "*"
gunicorn = "*"

[dev-packages]
flake8 = "*"
flake8-builtins = "*"
flake8-commas = "*"
flake8-comprehensions = "*"
flake8-debugger = "*"
flake8-isort = "*"
flake8-mutable = "*"
flake8-todo = "*"
flake8-tuple = "*"

[requires]
python_version = "3.6"

[scripts]

serve = "gunicorn -b 127.0.0.1:8080 commentonx:app"
